<div class="menu-container">
    <mat-toolbar class="mat-elevation-z8">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
            <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
        <mat-icon>
            home
        </mat-icon>
        Examen Final | Desarrollo Web
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <img class="avatar mat-elevation-z8" src="./assets/img/avatar.gif" />

            <h4 class="name">Lesther XM</h4>
            <p class="designation">Alumno</p>

            <mat-divider></mat-divider>

            <!-- INICIO : OPCION -->
            <button mat-button class="menu-button" routerLink="/menu-admins/cursos">
                <mat-icon>description</mat-icon>
                <span>Cursos</span>
            </button>
            <!-- FINAL : OPCION -->



            <mat-divider></mat-divider>

            <!-- <button mat-button class="menu-button">
              <mat-icon>logout</mat-icon>
              <span>Salir</span>
          </button> -->

        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>