<h1>🧑🏼‍🎓 <strong>AGREGANDO USUARIO</strong></h1>
<hr>
<div class="submit-form">
    <form>
        
        <div class="input-group mb-3">
            <span class="input-group-text">Usuario</span>
            <input class="form-control" type="text" aria-label="Usuario" name="usuario" id="usuario"
                aria-describedby="basic-addon1" required autocomplete="off" [(ngModel)]="usuario.usuario">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Biografia</span>
            <textarea class="form-control" type="text" aria-label="Biografia" name="biografia" id="biografia"
                aria-describedby="basic-addon1" required autocomplete="off" [(ngModel)]="usuario.biografia"></textarea>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Genero</span>
            <input class="form-control" type="text" aria-label="Genero" name="genero" id="genero"
                aria-describedby="basic-addon1" required autocomplete="off" [(ngModel)]="usuario.genero">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Edad</span>
            <input class="form-control" type="number" aria-label="Edad" name="edad" id="edad"
                aria-describedby="basic-addon1" required autocomplete="off" [(ngModel)]="usuario.edad">
        </div>

        <div class="btnOpciones">
            <button type="button" class="btn btn-warning" routerLink="/app/usuarios">Regresar</button>
            <button type="button" class="btn btn-primary"
                (click)="save(mensajeExito, mensajeError, mensajeDatosFaltantes)">Guardar</button>
        </div>
    </form>
</div>

<!-- VENTANA MODAL MENSAJE EXITOSO -->
<ng-template #mensajeExito let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <mat-icon>
                check_circle
            </mat-icon>
            ¡Enhorabuena!
        </h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Los datos se han registrado correctamente.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close()" routerLink="/app/usuarios">
            OK
        </button>
    </div>
</ng-template>

<!-- VENTANA MODAL DATOS FALTANTES -->
<ng-template #mensajeDatosFaltantes let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <mat-icon>
                warning
            </mat-icon>
            ¡DATOS FALTANTES!
        </h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Asegurate de ingresar todos los datos
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="modal.close()">
            OK
        </button>
    </div>
</ng-template>

<!-- VENTANA MODAL DATOS FALTANTES -->
<ng-template #mensajeError let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            <mat-icon>
                error
            </mat-icon>
            Error!
        </h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Se ha producido un error al registrar los datos. Valida el genero, estado y el numero de aula.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">
            OK
        </button>
    </div>
</ng-template>
